.post {
  margin-bottom: 100px;
  margin-top: 100px;
}

.post-list {
  margin-bottom: 60px;
}

.post-link {
  font-weight: 400;
  text-decoration: none;
  color: $blue;
}

.post-list-row {
  border-bottom: 1px solid $smoke;
  padding: 20px 10px;

  &:last-of-type {
    border-bottom: none;
  }
}

.post-list-meta {
  color: $smoke-shadow;
  float: right;
}

.post-list {
  list-style: none;
  padding-left: 0;
}
